.tab_boxs635 {
  width: 100%;
  height: 635px;
}

.tab_boxs1000 {
  width: 100%;
  height: 1000px;
}

.tab_boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab_boxs .tab_box {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  display: none;
}
.tab_boxs .tab_box.on {
  display: block;
}