/* btn  공용*/
.btn {
    border: none;
    cursor: pointer;
}

.btn1,
.btn3 {
    background-color: #ffffff;
}

.btn2,
.btn4,
.btn5,
.btn7,
.btn10 {
    background-color: #212121;
    color: #ffffff;
}

.btn6,
.btn8,
.btn9,
.btn11 {
    border: 3px solid #A1A1A1;
    color: #A1A1A1;
    background: none;
}

/* btn  개별(곡선, 크기, 폰트사이즈)*/
.btn1 {
    border-radius: 99px 999px 99px 999px;
    width: 141px;
    height: 41px;
    font-size: 21px;
}

.btn2 {
    border-radius: 999px 999px 999px 999px;
    width: 148px;
    height: 44px;
    font-size: 21px;
}

.btn3 {
    border-radius: 99px 999px 99px 999px;
    width: 173px;
    height: 58px;
    font-size: 36px;
}

.btn4 {
    border-radius: 99px 999px 99px 999px;
    width: 173px;
    height: 58px;
    font-size: 36px;
}

.btn5 {
    border-radius: 9px;
    width: 238px;
    height: 49px;
    font-size: 24px;
}

.btn6 {
    border-radius: 9px;
    width: 238px;
    height: 49px;
    font-size: 19px;
}

.btn7 {
    border-radius: 9px 999px 9px 9px;
    width: 242px;
    height: 49px;
    height: 49px;
    font-size: 24px;
}

.btn8 {
    border-radius: 9px 999px 9px 999px;
    width: 242px;
    height: 49px;
    font-size: 19px;
}

.btn9 {
    border-radius: 9px 9px 9px 999px;
    width: 242px;
    height: 49px;
    font-size: 19px;
}

.btn10 {
    width: 135px;
    height: 44px;
    font-size: 24px;
}

.btn11 {
    border-radius: 9px 999px 9px 9px;
    width: 242px;
    height: 49px;
    font-size: 19px;
}

// btn 폰트
.btn1,
.btn2,
.btn3,
.btn4,
.btn10 {
    font-family: "Italiana", serif;
}

.btn5,
.btn6,
.btn7,
.btn8,
.btn9,
.btn11 {
    font-family: "DM Serif Display", serif;
}

// 특별한 버튼

// <button class="cta">
// <span>click me</span>
// <svg width="15px" height="10px" viewBox="0 0 13 10">
//     <path d="M1,5 L11,5"></path>
//     <polyline points="8 1 12 5 8 9"></polyline>
// </svg>
// </button>
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #b1dae7;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
    }

    span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #234567;
    }

    svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #234567;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }

    &:hover {
        &:before {
            width: 100%;
            background: #b1dae7;
        }

        svg {
            transform: translateX(0);
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

// <button class="btn12">open me</button>
.btn12 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 16rem;
    height: 4rem;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #f9fafb; // text-gray-50
    background-color: #262626; // bg-neutral-800
    border: 1px solid transparent;
    border-radius: 0.5rem;
    overflow: hidden;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: all 0.5s ease;

    &:hover {
        color: #fb7185; // text-rose-300
        border-color: #fb7185; // border-rose-300
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        filter: blur(12px);
        transition: all 0.5s ease;
    }

    &::before {
        width: 3rem;
        height: 3rem;
        background-color: #8b5cf6; // violet-500
        top: 0.25rem;
        right: 0.25rem;
        z-index: 10;
    }

    &::after {
        width: 5rem;
        height: 5rem;
        background-color: #fb7185; // rose-300
        top: 0.75rem;
        right: 2rem;
        z-index: 10;
    }

    &:hover::before {
        right: 3rem;
        bottom: -2rem;
        filter: blur(20px);
    }

    &:hover::after {
        right: -2rem;
    }
}

// <button class="btn13">
// <div id="ui">open</div>me</button>
#ui {
    font-weight: bolder;
    background: -webkit-linear-gradient(#B563FF, #535EFC, #0EC8EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(0.25turn, #535EFC, #0EC8EE, #0EC8EE);
    border-image-slice: 1;
    display: inline;
}

// <button class="btn13">
// <div id="ui">open</div>me
// </button>
.btn13 {
    position: relative;
    padding: 20px 30px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #2c2c2c;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background: linear-gradient(144deg, #1e1e1e, 20%, #1e1e1e 50%, #1e1e1e);
        transition: all 0.2s ease;
        color: #fff;

        &::before {
            top: -70%;
            background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
                radial-gradient(circle, #535EFC 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
                radial-gradient(circle, #0EC8EE 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #0EC8EE 20%, transparent 20%),
                radial-gradient(circle, #0EC8EE 20%, transparent 20%);
            background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
            background-position: 50% 120%;
            animation: greentopBubbles 0.6s ease;
        }

        &::after {
            bottom: -70%;
            background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #535EFC 20%, transparent 20%),
                radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
                radial-gradient(circle, #535EFC 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                radial-gradient(circle, #535EFC 20%, transparent 20%),
                radial-gradient(circle, #7d2ae8 20%, transparent 20%);
            background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
            background-position: 50% 0%;
            animation: greenbottomBubbles 0.6s ease;
        }
    }

    &:active {
        transform: scale(0.96);
    }

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 150%;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        z-index: -1000;
        background-repeat: no-repeat;
    }

    @keyframes greentopBubbles {
        0% {
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
        }

        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
        }

        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

    @keyframes greenbottomBubbles {
        0% {
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
        }

        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
        }

        100% {
            background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }
}

// <a class="btn14" href="#">
//   <span class="top-key"></span>
//   <span class="text">Buy Tickets</span>
//   <span class="bottom-key-1"></span>
//   <span class="bottom-key-2"></span>
// </a>
.btn14 {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;

    &::before {
        content: " ";
        width: 1.5625rem;
        height: 2px;
        background: black;
        top: 50%;
        left: 1.5em;
        position: absolute;
        transform: translateY(-50%);
        transform-origin: center;
        transition: background 0.3s linear, width 0.3s linear;
    }

    .text {
        font-size: 1.125em;
        line-height: 1.33333em;
        padding-left: 2em;
        display: block;
        text-align: left;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }

    .top-key {
        height: 2px;
        width: 1.5625rem;
        top: -2px;
        left: 0.625rem;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, left 0.3s ease-out;
    }

    .bottom-key-1 {
        height: 2px;
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }

    .bottom-key-2 {
        height: 2px;
        width: 0.625rem;
        right: 0.625rem;
        bottom: -2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }

    &:hover {
        color: white;
        background: black;

        &::before {
            width: 0.9375rem;
            background: white;
        }

        .text {
            color: white;
            padding-left: 1.5em;
        }

        .top-key {
            left: -2px;
            width: 0;
        }

        .bottom-key-1,
        .bottom-key-2 {
            right: 0;
            width: 0;
        }
    }
}