@import "../../styles/scss/color.scss";
@import "../../styles/scss/flex_mixins.scss";

// ===========
// sect 공통
.sect {
    user-select: none; //파란 선택 영역 안생김
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $secondary-color3;

    .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1280px;
        height: 100%;
    }
}

// sect 개별
.sect1 {
    overflow: hidden;

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.sect3 {
    height: 588px;

    .inner {
        height: 588px;
    }
}

// ===========
@media (min-width: 0px) and (max-width: 767px) {

    // sect 공통
    .sect {
        .inner {
            width: 440px;
        }
    }
}