@import "../../styles/scss/color.scss";
@import "../../styles/scss/flex_mixins.scss";

// tab_box 크기
.tab_boxs635 {
    width: 100%;
    height: 635px;
    border: 1px solid #000;
}

.tab_boxs1000 {
    width: 100%;
    height: 1000px;
    border: 1px solid #000;
}

// tab_box 클래스리스트 add,remove / relative,absolute
// .tab_boxs635  = .tab_boxs 같다
.tab_boxs {
    @include fcc;
    position: relative;

    .tab_box {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        display: none;

        &.on {
            display: block;
        }
    }
}