// ========================
$primary-color0: #FFFFFF;
$primary-color1: #434343;
$primary-color2: #3F3F3F;
$primary-color3: #838383;
$primary-color4: linear-gradient(45deg, #000000, #252525);
$primary-color5: rgba(0, 0, 0, 0.3);
$primary-color6: rgba(255, 255, 255, 0.9);
// ========================
$secondary-color0: #BDBBBB;
$secondary-color1: #7C0002;
$secondary-color2: #F5F5F5;
$secondary-color3: #FBFBFB;
$secondary-color4: #CFCFCF;
$secondary-color5: #ACACAC;
$secondary-color6: #8D8D8D;
$secondary-color7: #212121;
$secondary-color8: #C1C1C1;
$secondary-color9: #F5F5F5;
$secondary-color10: #979797;
$secondary-color11: #F8F8F8;
$secondary-color12: #2c2c2c;